:root {
	--card-height: 40vw;
	--card-margin: 4vw;
	--card-top-offset: 1em;
	--numcards: 4;
	--outline-width: 0px;
}

#cards {
	padding-bottom: calc(var(--numcards) * var(--card-top-offset)); /* Make place at bottom, as items will slide to that position*/
	margin-bottom: var(--card-margin); /* Don't include the --card-margin in padding, as that will affect the scroll-timeline*/
}

#card_1 {
	--index: 1;
}

#card_2 {
	--index: 2;
}

#card_3 {
	--index: 3;
}

#card_4 {
	--index: 4;
}

#card_5 {
  --index: 5;
}

.card {
	position: sticky;
	top: 1em;
	padding-top: calc(var(--index) * var(--card-top-offset));
  padding: 1em;
}

@supports (animation-timeline: works) {

	@scroll-timeline cards-element-scrolls-in-body {
		source: selector(body);
		scroll-offsets:
			/* Start when the start edge touches the top of the scrollport */
			selector(#cards) start 1,
			/* End when the start edge touches the start of the scrollport */
			selector(#cards) start 0
		;
		start: selector(#cards) start 1; /* Start when the start edge touches the top of the scrollport */
		end: selector(#cards) start 0; /* End when the start edge touches the start of the scrollport */
		time-range: 4s;
	}

	.card {
		--index0: calc(var(--index) - 1); /* 0-based index */
		--reverse-index: calc(var(--numcards) - var(--index0)); /* reverse index */
		--reverse-index0: calc(var(--reverse-index) - 1); /* 0-based reverse index */
	}
	
	.card__content {
		transform-origin: 50% 0%;
		will-change: transform;

		--duration: calc(var(--reverse-index0) * 1s);
		--delay: calc(var(--index0) * 1s);

		animation: var(--duration) linear scale var(--delay) forwards;
		animation-timeline: cards-element-scrolls-in-body;
	}

	@keyframes scale {
		to {
			transform:
				scale(calc(
					1.1
					-
					calc(0.1 * var(--reverse-index))
				));
		}
	}
}

/** PAGE STYLING **/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: rgb(239, 242, 247);
	color: rgb(255, 255, 255);
	text-align: center;
	font-size: calc(1em + 0.5vw);
}

header,
main {
	width: 80vw;
	margin: 0 auto;
}

header {
	height: 100vh;
	display: grid;
	place-items: center;
}

#cards {
	list-style: none;
	outline: calc(var(--outline-width) * 10) solid blue;
	
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(var(--numcards), var(--card-height));
	gap: var(--card-margin);
}

.card {
	outline: var(--outline-width) solid hotpink;
}

.card__content {
	background: rgb(255, 255, 255);
  border: 1px solid rgb(226, 231, 249);
	color: rgb(10, 5, 7);
	border-radius: 1em;
	overflow: hidden;

	display: grid;
	grid-template-areas: "text img";
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;

	align-items: stretch;
	outline: var(--outline-width) solid lime;
}

.card__content > div {
	grid-area: text;
	width: 80%;
	place-self: center;
	text-align: left;

	display: grid;
	gap: 1em;
	place-items: start;
}

.card__content > figure {
	grid-area: img;
	overflow: hidden;
}

.card__content > figure > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

h1, h2, h3, h4, h5, h6, p {
  color: rgb(160, 180, 244);
  letter-spacing: -0.02em;
}

h1 {
  font-family: playfair display;
	font-size: 3.6em;
  font-weight: 400;
}

h2 {
	font-weight: 300;
	font-size: 2.4em;
}

p {
	font-family: poppins;
	font-weight: 300;
	line-height: 1.4;
}

a {
  font-family: avenir next, sans-serif;
  text-decoration: none;
  font-size: 0.8em;
}

.topbar {
  color: rgb(160, 180, 244);
  padding: 0.4em 0.8em;
}

.topbar:hover {
  color: #eee;
  background-color: rgb(160, 180, 244);
  padding: 0.4em 0.8em;
  transition: 0.8s;
  border-radius: 0.4em;
}

.btn {
	background: #26e);
	color: rgb(255 255 255);
	text-decoration: none;
	display: inline-block;
	padding: 0.5em;
	border-radius: 0.25em;
}

aside {
	width: 50vw;
	margin: 0 auto;
	text-align: left;
}

aside p {
	margin-bottom: 1em;
}

#subtitle::after {
  transform: scaleX(-1);
}

.top-bar {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  margin: 0.4em;
  z-index: 10;
  background-image:linear-gradient(rgb(160, 180, 244, 1.0), #eee));
}

.button {
  display: block;
  background: none;
  transition: all .35s;
  cursor: pointer;
  border-radius: 0.4em;
}

.btn-1 {
  border: 2px solid rgb(160, 180, 244);
  color: rgb(160, 180, 244);
  padding: 0.8em 3.2em;
}
.btn-1:hover {
  border: 2px solid #26e;
  color: #eee;
  background-color: #26e;
}

/* background animation */
.bg {
  z-index: 0;
  animation: clouds ease-in-out infinite;
  display: block;
  position: absolute;
}

.unit1 {
  height: 50%;
  width: 50%;;
  background-color: #EB3D41;
  animation: clouds 800ms infinite;
  transform-origin: bottom right;
}

@keyframes clouds {
  0% {transform: scale(1) translateX(100%)}
  
  50% {transform: scale(.5) translateX(50%)}
    
  100% {transform: scaleY(1) translateX(100%)}
        
}
